---
layout: boilerplate.njk
css: event
---
<header role="banner" class="event-banner" style="background-image: url(/images/{{ image }})">
	<img src="/images/logo.png"
	     alt="Chesterfield Open Gaming Society Logo"
	     class="logo"
	/>
	<span class="h3 club-name">
		Chesterfield Open Gaming Society Presents
	</span>
	<div class="title-wrapper" style="margin-left: {{ titlePosition | default(0) }}">
		<h1>{{ title }}</h1>
		<p class="subtitle">{{ subtitle }}</p>
	</div>
</header>
<nav>
	<nav aria-label="You are here:" role="navigation">
		<ul class="breadcrumbs">
			<li><a href="https://www.c-o-g-s.org.uk/">Home</a></li>
			<li><a href="/">Kings of War</a></li>
			<li class="">Events</li>
			<li>
				<span class="show-for-sr">Current: </span> {{ title }}
			</li>
		</ul>
	</nav>
</nav>
<main>
	<aside class="summary-box">
		<p>{{ description | safe }}</p>
		<dl>
		{% for label, lines in about %}
		    <dt>{{ label }}</dt>
			<dd>
				{% for line in lines %}
					<p>{{ line }}</p>
				{% endfor %}
			</dd>
		{% endfor %}
		</dl>
	</aside>
	{{ content | safe }}
</main>

<footer>
	<p class="disclaimer">
		{{ disclaimer | markdown('inline') | safe }}
	</p>
	<p class="disclaimer">
		Wolfsbane II font ©<a href="https://www.iconian.com/index.html">Iconian Fonts</a> licenced
		for non-commercial use.
	</p>
</footer>
